@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>&nbsp;</div>
</div>

<div class="jumbotron" style="background-color: rgba(105,100,100,0.8);">
    <h1 style="color: #337ab7">Clash Tourney</h1>
    <p class="lead">Clash Tourney is an easy to use web app for creating and participating in Clash Royale tournaments.</p>
    <p><a href="" class="btn btn-primary btn-lg">Join a Tourney</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>