@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>&nbsp;</div>
</div>

<div class="jumbotron" style="background-color: rgba(105,100,100,0.8);">
    <h1 style="color: #337ab7">Clash Tourney</h1>
    <p class="lead">Clash Tourney is an easy to use web app for creating and participating in Clash Royale tournaments.</p>
    <p><a href="" class="btn btn-primary btn-lg">Join a Tourney</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well trans" style="text-align: center">
            <h3 style="color: #eeeeee">Create A Tourney</h3>
            <p>
                Create a Clash Roayle tournament for others to participate in and do battle.
            </p>
            <a href="/CreateTourney/" class="btn btn-primary btn-lg">Create Tourney</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center">
        <div class="well trans">
            <h3 style="color: #eeeeee">View Brackets</h3>
            <p>
                View the results of past tournaments or see the standings of current tournaments.
            </p>
            <a href="/Brackets/" class="btn btn-primary btn-lg">Brackets</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center">
        <div class="well trans">
            <h3 style="color: #eeeeee">Join A Tourney</h3>
            <p>
                If you are just looking for a way to push your skill then join a tournament
                against people of the same skill level as you.
            </p>
            <a href="/JoinTourney/" class="btn btn-primary btn-lg">Join</a>
        </div>
        
    </div>
</div>